* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    color: white;
    background-image: url('./bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    min-height: 100vh;
}

.navbar-nav a {
    color: white;
}


main {
    flex: 1;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 5px 0px;
    bottom: 0;
    left: 50%;
    color: black;
}

.name {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    align-items: center;
    margin-top: 140px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selfie {
    display: flex;
    flex-direction: column;
}


.me {
    display: flex;
    position: relative;
    top: 20px;
    font-size: 70px;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: black;
    letter-spacing: 8px;
    font-weight: lighter;
}

#myCarousel {
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 30px;
}

.project {
    text-align: center;
    background-color: white;
    font-size: 50px;
    line-height: 60px;
    color: lightblue;
    font-weight: bolder;
    position: relative;
    top: 24px;
}

.selfie-image {
    display: flex;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%; 
    object-fit: cover; 
    border: 3px solid white;
}


blockquote.quote {
    position: relative; top: 10px;
    color: black;
    font-size: 25px;
    margin-left: 14%;
    margin-right: 14%;
}

@keyframes slide {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-100%);
    }
}

.logos {
    position: relative;
    bottom: 20px;
    overflow: hidden;
    padding: 35px 0;
    margin-bottom: 40px;
    background: white;
    white-space: nowrap;
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
   
    animation: 30s slide infinite linear;
}

.logos-slide img {
    height: 60px;
    width: 90px;
    margin: 0 40px
}



@media screen and (max-width: 800px) {
    .me {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 60px;
        font-family: 'Roboto', sans-serif;
        font-weight: light;
        font-size: 40px;
        letter-spacing: 5px;
    }
    .name img {
        position: relative;
        top: 5px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    blockquote.quote {
        font-size: 15px;
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media screen and (orientation: landscape) {
    .name {
        position: relative;
        top: 180px;
    }
}

  @media screen and (max-width: 1024px) {
    .name {
       position: relative;
       top: 140px;
    }
    #myCarousel {
        margin-left: 5%;
        margin-right: 5%;
    }
    .project {
        text-align: center;
        font-size: 20px;
        line-height: 50px;
        position: relative;
        right: 50px;
        top: 24px;       
    }
    .carousel-item {
        height: 30rem;
    }
  }
  


