* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    background-color: #dbac98;
    display: flex;
    color: white;
    flex-direction: column;
    min-height: 100vh;
}

.navbar-nav a {
    color: white;
}

main {
    flex: 1;
}

footer {
    text-align: center;
    padding: 10px 0;
}

.name {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    align-items: center;
    margin-top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.me {
    display: flex;
    font-size: 30px;
    flex-direction: column;
    position: relative;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    letter-spacing: 10px;
}

.project {
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: bold;
}

.selfie-image {
    display: flex;
    width: 175px;
    height: 175px;
    border-radius: 50%; 
    object-fit: cover; 
}



@media screen and (max-width: 700px) {
    .me {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 70px;
        font-family: 'Roboto', sans-serif;
        font-weight: light;
        font-size: 40px;
        letter-spacing: 5px;
    }
    .name {
        position: relative;
        top: 125px;
    }
    .name img {
        position: relative;
        margin-top: 60px;
    }
}

@media screen and (orientation: landscape) {
    .me {
        font-size: 50px;
    }
    .name {
        position: relative;
        top: 130px;
    }
}

@media screen and (max-width: 900px) {
    .name {
       position: relative;
       top: 175px;
       font-size: 25px;
    }
  }
  @media screen and (max-width: 1024px) {
    .name {
       position: relative;
       top: 175px;
       font-size: 50px;
    }
  }
  


